<div class="container">
  <div class="row">
    <div class="card" style="width: 90rem;">
      <div class="card-header">
        Add New Service
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <form>
              <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                  <input type="text" [(ngModel)]="serviceInstance.name" class="form-control"
                         name="name" id="name">
                </div>
              </div>
              <div class="row mb-3">
                <label for="endpoint" class="col-sm-2 col-form-label">Endpoint:</label>
                <div class="col-sm-10">
                  <input type="text" [(ngModel)]="serviceInstance.endpoint" class="form-control"
                         name="endpoint" id="endpoint"> <br>
                </div>
              </div>
              <button (click)="addServiceInstance()" class="btn btn-primary btn-lg"
                      type="button">Add
              </button>
            </form>
          </li>
          <li *ngIf="statusMessage" class="list-group-item">

            <div *ngIf="(statusMessage.errorCode=='0'); else elseBlock" class="alert alert-primary"
                 role="alert">
              {{statusMessage.message}}
            </div>
            <ng-template #elseBlock>
              <div class="alert alert-warning" role="alert">
                {{statusMessage.message}}
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <div class="card" style="width: 90rem;">
      <div class="card-header">
        Services List
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Date Created</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let serviceInstance of serviceInstances" scope="row">
            <td>{{serviceInstance.id}}</td>
            <td>{{serviceInstance.name}}</td>
            <td>{{serviceInstance.endpoint}}</td>
            <td>{{serviceInstance.dateCreated | date:'medium'}}</td>
            <td>
              <div *ngIf="serviceInstance.serviceStatus=='OK'" class="alert alert-success"
                   role="alert">
                {{serviceInstance.serviceStatus}}
              </div>
              <div *ngIf="serviceInstance.serviceStatus=='FAIL'" class="alert alert-danger"
                   role="alert">
                {{serviceInstance.serviceStatus}}
              </div>
              <div *ngIf="serviceInstance.serviceStatus=='UNKNOWN'" class="alert alert-dark"
                   role="alert">
                {{serviceInstance.serviceStatus}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
